body {
    margin-top: 75px; /* 100px is double the height of the navbar - I made it a big larger for some more space - keep it at 50px at least if you want to use the fixed top nav */
}

footer {
    margin: 50px 0;
}

td span.week {
  padding: 2em .5em;
  writing-mode: tb-rl;
  filter: flipv fliph;
  -webkit-transform:rotate(-90deg);
  white-space:nowrap;
  display:block;
  vertical-align:bottom;
}

td span.exercise {
  vertical-align:middle;
}

.top-row {
    border-top: 0.4em solid #ddd;
}
