
    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <h3>Find Us!</h3>
            <nav class="footer-nav">
              <ul>
                <li><a href="https://www.facebook.com/ChimeraArtSpace">Facebook Page</a></li>
                <li><a href="https://twitter.com/ChimeraArtSpace">Twitter</a></li>
                <li><a href="http://instagram.com/chimeraartspace">Instagram</a></li>
                <li><a href="http://chimeraarts.tumblr.com/">Tumblr Blog</a></li>
                <li><a href="https://github.com/chimera">Github</a></li>
                <li><a href="http://bit.ly/chimera-tshirt">Buy a T-Shirt!</a></li>
              </ul>
            </nav>
          </div>
          <div class="col-sm-6">
            <h3>Found typos? What to add content?</h3>
            <p>
              Our website's content is open source.
              Please either <a href="https://github.com/chimera/chimeraarts.org" targe="_blank">fork the repository</a>,
              <a href="https://github.com/chimera/chimeraarts.org/issues" targe="_blank">create an issue</a>
              or <a href="/contact/">contact us</a>.
            </p>
            <p class="text-muted">&copy; 2012 &mdash; 2014 c25k.io</p>
          </div>
        </div>
      </div>
    </footer>
    {{ template "chrome/scripts.html" . }}
  </body>
</html>
