<!-- Footer -->
<footer class="navbar navbar-default navbar-static-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <ul class="list-inline">
                  <li><a href="https://www.facebook.com/ChimeraArtSpace">Facebook Page</a></li>
                  <li><a href="https://twitter.com/ChimeraArtSpace">Twitter</a></li>
                  <li><a href="http://instagram.com/chimeraartspace">Instagram</a></li>
                  <li><a href="http://chimeraarts.tumblr.com/">Tumblr Blog</a></li>
                  <li><a href="https://github.com/chimera">Github</a></li>
                  <li><a href="http://bit.ly/chimera-tshirt">Buy a T-Shirt!</a></li>
                </ul>
                <p class="copyright text-muted small">Copyright &copy; c25k.io 2014. All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>
