body {
    background-color: transparent;
    margin-top: 60px;  /* Top Nav Bar Sticky */
}

/* Header Image Background */

.full {
    background: url('/static/img/photos/runner2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

}

.navbar-static-bottom {
  margin-bottom: 0px;  /* stick to bottom */
}

.navbar-default .navbar-brand {
  color: #F36743;
  font-size: 30px;
}

.call-to-action {
  background-color: #43cff3;
  color: white;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
}


.lead {
    font-size: 18px;
    font-weight: 400;
}

.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
/*    color: #f8f8f8;
    background: url('/static/img/photos/runner2.jpg') no-repeat center center;
    background-size: cover;*/
}

.intro-message {
    text-align: left;
    position: relative;
    float: right;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    color: #333;
    text-shadow: 2px 2px 3px rgba(50, 50, 50, 0.6);
    font-size: 42px;
    margin-bottom: 10px;
}

.intro-message span {
  color: #333;;
  background: rgba(255, 255, 255, 0.3);
  padding: 2px;
}

.intro-message p>span {
      font-size: 25px;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}



@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

p.copyright {
    margin: 15px 0 0;
}

td span.week {
  padding: 2em .5em;
  writing-mode: tb-rl;
  filter: flipv fliph;
  -webkit-transform:rotate(-90deg); 
  white-space:nowrap; 
  display:block;
  vertical-align:bottom;
}

td span.exercise {
  vertical-align:middle;
}

.top-row {
    border-top: 0.4em solid #ddd;
}