body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
}

.topnav {
    font-size: 14px; 
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url('/static/img/photos/runner2.jpg') no-repeat center center;
    background-size: cover;
}

.intro-message {
    text-align: left;
    position: relative;
    float: right;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    color: #333;
    text-shadow: 2px 2px 3px rgba(50, 50, 50, 0.6);
    font-size: 42px;
    margin-bottom: 10px;
}

.intro-message span {
  color: #333;;
  background: rgba(255, 255, 255, 0.3);
  padding: 2px;
}

.intro-message p>span {
      font-size: 25px;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}



@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}


.main-content {
  padding-top: 2em;
    min-height: 100%;
  /* equal to footer height */
  margin-bottom: -60px; 
}
.main-content:after {
  content: "";
  display: block;
}




footer {
    padding: 10px 0;
    background-color: #f8f8f8;
}

footer, .main-content:after {
  height: 60px; 
}

p.copyright {
    margin: 15px 0 0;
}

td span.week {
  padding: 1em .5em;
  writing-mode: tb-rl;
  filter: flipv fliph;
  -webkit-transform:rotate(-90deg); 
  white-space:nowrap; 
  display:block;
}

.top-row {
    border-top: 0.4em solid #ddd;
}