{{ template "chrome/header.html" . }}

  <div class="hompage-jumbotron">
    <div class="container">
      <h1>Couch to 5k</h1>
    </div>
  </div>

  <div class="main-content container">
    <h2>The Couch to 5k in 9 weeks running program</h2> 
    <div class="row">
      <div class="col-sm-8">
        
        <p>
          C25K, is a fantastic program that's been designed to get just about anyone from the couch to running 5 kilometers or 30 minutes in just 9 weeks.
        </p>
        <p>
          With the help of the Couch to 5k program, In less than seven months, I went from a 47 year old, 104kg, 30 cigarettes a day sort of guy to an 82kg, 0 cigarettes, running 45 to 50 kilometers a week sort of guy. Ten months after finishing C25K I completed my first marathon. Since then I have run another 5 marathons, as well as 9 ultra marathons including three over 100km.
        </p>
        <p>
          And I'm not the only one, C25K has been responsible for getting thousands of couch potatoes up and running.
        </p>
        <p>
          Its secret is that it's a gentle introduction to getting the body moving, starting off alternating between walking and running small distances, and slowly building up until after 8 weeks, you're ready to run 5 kilometers or 30 minutes non stop.
        </p>
        <p>
          The reason for putting this site together is to try to create the definitive Couch to 5k resource on the web. For the novice, there's a lot of information available...it's just a matter of trying to find it all. That's where c25k.com will hopefully help. I've tried to collate links to just about all of the information you'll need for the Couch to 5k program, plus some other sites that I've found fantastic to assist my running after graduating from C25K.
        </p>
        <p><a href="/plans/" class="btn btn-primary">Learn More</a></p>
      </div>
      <div class="col-sm-4">
        <!-- SnapWidget -->
        <script src="http://snapwidget.com/js/snapwidget.js"></script>
        <iframe src="http://snapwidget.com/in/?h=cnVubmluZ3xpbnwxMjV8Mnw2fHxub3w1fG5vbmV8b25TdGFydHx5ZXN8eWVz&ve=220515" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>
      </div>
    </div>
  </div>

{{ template "chrome/footer.html" }}
